aeron:
  robot:
    max_speed: 0.5
    max_angular_speed: 1.0
    ultrasonic_topic: "/ultrasonic"
    cmd_vel_topic: "/cmd_vel"
  nlp:
    model_path: "models/transformer_model.pth"
    vocab_size: 10000
    embedding_dim: 128
    max_seq_len: 50
  speech:
    input_device: "default"
    output_device: "default"
    sample_rate: 16000
